html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: black;
}

body {
  background-color: black !important;
  color: white !important;
}

header {
  background: transparent;
}

ol,
ul {
  list-style: none;
}

header h1 a {
  transition: 0.3s;
  color: white;
  padding-left: 20px;
}

header h1 a:hover {
  color: #ff6b33;
}

header ul li {
  margin-right: 20px;
}

header ul li a {
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: #ff6b33;
}

header nav ul {
  padding-left: 20px;
}
